h1 {
	padding-left:50px;
}
h4 {
	padding-left:50px;
}
p {
	padding-top:50px;
	padding-left:50px;
	padding-right:75px;
	font-size:20px;
	text-indent: 2.0em;
}

@media (min-width: 768px) {
	#col1 {
	padding-left:200px;
}
}


